[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deeplake = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-jose = "*"
httpx = "*"

[dev-packages]
fastapi = "*"

[requires]
python_version = "3.11"
